maps/*                                                                                                           
!maps/.gitkeep                                                                                                   
scenes/*
!scenes/.gitkeep                                                                                                 
.DS_Store    